<h2>Strings - Methods</h2>

<p>Methods are functions that are associated with string objects. They are attributes attached to string objects.</p>

In [1]:
statement = 'welcome to python class that leads to data science'

In [2]:
filename = 'sample.txt'

<h4>capitalize( )</h4>
<p>Return a copy of the string with only its first character capitalized.</p>

In [3]:
statement.capitalize()

<h4>center( width[, fillchar])</h4>
<p>Return centered in a string of length width. Padding is done using the specified fillchar (default is a space).</p>

In [4]:
statement.center(80,'*')

<h3>count( sub[, start[, end]])</h3>
<p>Return the number of occurrences of substring sub in string S[start:end]. Optional arguments start and end are interpreted as in slice notation.</p>

In [5]:
statement.count('o')

In [6]:
statement.count('to')

2

In [7]:
list(map("Hello".count, "Hello"))

[1, 1, 2, 2, 1]

<h3>endswith( suffix[, start[, end]])</h3>
<p>Return True if the string ends with the specified suffix, otherwise return False. suffix can also be a tuple of suffixes to look for. With optional start, test beginning at that position. With optional end, stop comparing at that position.</p>

In [8]:
filename.endswith('txt')

True

<h3>find(sub[, start[, end]])</h3>
<p>Return the lowest index in the string where substring sub is found, such that sub is contained in the range [start, end]. Optional arguments start and end are interpreted as in slice notation. Return -1 if sub is not found. </p>

In [9]:
statement.find('python')

11

In [10]:
statement.find('java')

-1

<h3>index( sub[, start[, end]])</h3>
<p>Like find(), but raise ValueError when the substring is not found. </p>

In [11]:
statement.index('python')

11

In [12]:
# statement.index('java')

<h3>isalnum( )</h3>
<p>Return true if all characters in the string are alphanumeric and there is at least one character, false otherwise.</p>

In [13]:
'Hello123'.isalnum()

True

In [14]:
'Hello'.isalnum()

True

In [15]:
'123'.isalnum()

True

In [16]:
'Hello 123'.isalnum()

False

<h3>isalpha( )</h3>
<p>Return true if all characters in the string are alphabetic and there is at least one character, false otherwise.</p>

In [17]:
'Hello'.isalpha()

True

In [18]:
'Hello123'.isalpha()

False

<h3>isdigit( )</h3>
<p>Return true if all characters in the string are digits and there is at least one character, false otherwise.</p>

In [19]:
'123'.isdigit()

True

In [20]:
'Hello123'.isdigit()

False

<h3>islower( )</h3>
<p>Return true if all cased characters in the string are lowercase and there is at least one cased character, false otherwise.</p>

In [21]:
"hello".islower()

True

In [22]:
"Hello".islower()

False

<h3>isspace( )</h3>
<p>Return true if there are only whitespace characters in the string and there is at least one character, false otherwise.</p>

In [23]:
"      ".isspace()

True

In [24]:
"Hello 123".isspace()

False

<h3>istitle( )</h3>
<p>Return true if the string is a titlecased string and there is at least one character, for example uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return false otherwise. </p>

In [25]:
'Welcome to Python'.istitle()

False

In [26]:
'Welcome To Python'.istitle()

True

<h3>isupper( )</h3>
<p>Return true if all cased characters in the string are uppercase and there is at least one cased character, false otherwise. </p>

In [27]:
'Python'.isupper()

False

In [28]:
'PYTHON'.isupper()

True

<h3>join( seq)</h3>
<p>Return a string which is the concatenation of the strings in the sequence seq. The separator between elements is the string providing this method. </p>

In [29]:
seq = ['a','b','c','d']

In [30]:
''.join(seq)

'abcd'

In [31]:
'-'.join(seq)

'a-b-c-d'

In [32]:
''.join([str(x) for x in range(11)])

'012345678910'

<h3>ljust( width[, fillchar])</h3>
<p>Return the string left justified in a string of length width. Padding is done using the specified fillchar (default is a space). The original string is returned if width is less than len(s). </p>

In [33]:
'123'.ljust(10)

'123       '

<h3>lower( )</h3>
<p>Return a copy of the string converted to lowercase. </p>

In [34]:
statement.lower()

'welcome to python class that leads to data science'

<h3>lstrip( [chars])</h3>
<p>Return a copy of the string with leading characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix; rather, all combinations of its values are stripped: </p>

In [35]:
'     too much left side space  '.lstrip()

'too much left side space  '

In [36]:
'www.google.com'.lstrip('w.')

'google.com'

<h3>partition( sep)</h3>
<p>Split the string at the first occurrence of sep, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator. If the separator is not found, return a 3-tuple containing the string itself, followed by two empty strings. </p>

In [37]:
statement

'welcome to python class that leads to data science'

In [38]:
statement.partition('Python')

('welcome to python class that leads to data science', '', '')

<h3>replace( old, new[, count])</h3>
<p>Return a copy of the string with all occurrences of substring old replaced by new. If the optional argument count is given, only the first count occurrences are replaced. </p>

In [39]:
statement

'welcome to python class that leads to data science'

In [40]:
statement.replace('python', 'java')

'welcome to java class that leads to data science'

<h3>rfind( sub [,start [,end]])</h3>
<p>Return the highest index in the string where substring sub is found, such that sub is contained within s[start,end]. Optional arguments start and end are interpreted as in slice notation. Return -1 on failure. </p>

In [41]:
statement

'welcome to python class that leads to data science'

In [42]:
statement.find('to')

8

In [43]:
statement.rfind('to')

35

<h3>rindex( sub[, start[, end]])</h3>
<p>Like rfind() but raises ValueError when the substring sub is not found. </p>

In [44]:
statement

'welcome to python class that leads to data science'

In [45]:
statement.index('to')

8

In [46]:
statement.rindex('to')

35

In [47]:
# statement.rindex('java')

<h3>rjust( width[, fillchar])</h3>
<p>Return the string right justified in a string of length width. Padding is done using the specified fillchar (default is a space). The original string is returned if width is less than len(s). </p>

In [48]:
'123'.rjust(10)

'       123'

<h3>rpartition( sep) </h3>
<p>Split the string at the last occurrence of sep, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator. If the separator is not found, return a 3-tuple containing two empty strings, followed by the string itself. </p>

In [49]:
statement

'welcome to python class that leads to data science'

In [50]:
statement.partition('to')

('welcome ', 'to', ' python class that leads to data science')

In [51]:
statement.rpartition('to')

('welcome to python class that leads ', 'to', ' data science')

<h3>rsplit( [sep [,maxsplit]])</h3>
<p>Return a list of the words in the string, using sep as the delimiter string. If maxsplit is given, at most maxsplit splits are done, the rightmost ones. If sep is not specified or None, any whitespace string is a separator. Except for splitting from the right, rsplit() behaves like split() which is described in detail below. </p>

In [52]:
statement

'welcome to python class that leads to data science'

In [53]:
statement.rsplit('to')

['welcome ', ' python class that leads ', ' data science']

In [54]:
statement.rsplit('to', 1)

['welcome to python class that leads ', ' data science']

<h3>rstrip( [chars])</h3>
<p>Return a copy of the string with trailing characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a suffix; rather, all combinations of its values are stripped: </p>

In [55]:
' too much right side space         '.rstrip()

' too much right side space'

<h3>split( [sep [,maxsplit]])</h3>
<p>Return a list of the words in the string, using sep as the delimiter string. If maxsplit is given, at most maxsplit splits are done. (thus, the list will have at most maxsplit+1 element).</p>
<p>If maxsplit is not specified, then there is no limit on the number of splits (all possible splits are made). Consecutive delimiters are not grouped together and are deemed to delimit empty strings: </p>

In [56]:
'1,,2'.split(',')

['1', '', '2']

The sep argument may consist of multiple characters

In [57]:
'1, 2, 3'.split(', ')

['1', '2', '3']

Splitting an empty string with a specified separator returns

In [58]:
' '.split()

[]

If sep is not specified or is None, a different splitting algorithm is applied. First, whitespace characters (spaces, tabs, newlines, returns, and formfeeds) are stripped from both ends. Then, words are separated by arbitrary length strings of whitespace characters. Consecutive whitespace delimiters are treated as a single delimiter

In [59]:
'1 2 3'.split()

['1', '2', '3']

<p>Splitting an empty string or a string consisting of just whitespace returns an empty list. To split a string with multiple delimiters, we can use <b>re</b>: </p>
<p>split with semicolon, comma, space</p>

In [60]:
import re
str = 'Life; a walking, shadow'
splitstr = re.split(';|,| ', str)
splitstr

['Life', '', 'a', 'walking', '', 'shadow']

In [61]:
import re
str = 'Life; a walking, shadow'
splitstr = re.split('; |, | ',str)
splitstr

['Life', 'a', 'walking', 'shadow']

<h3>startswith( prefix[, start[, end]])</h3>
<p>Return True if string starts with the prefix, otherwise return False. prefix can also be a tuple of prefixes to look for. With optional start, test string beginning at that position. With optional end, stop comparing string at that position. </p>

In [62]:
statementOne = "Hello world !!!"
statementTwo = "Welcome to learn Python"

In [63]:
statementOne.startswith("Hello")

True

In [64]:
statementTwo.startswith(("Hello", "Welcome"))

True

In [65]:
statementOne.startswith(("Hello", "Welcome"))

True

<h3>strip( [chars])</h3>
<p>Return a copy of the string with the leading and trailing characters removed. The chars argument is a string specifying the set of characters to be removed.</p>
<p>If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix or suffix; rather, all combinations of its values are stripped: </p>

In [66]:
'   too much space    '.strip()

'too much space'

In [67]:
'www.google.com'.strip('.wmoc')

'google'

<h3>swapcase( )</h3>
<p>Return a copy of the string with uppercase characters converted to lowercase and vice versa.</p>

In [68]:
statement = 'Welcome to Python class that leads to Data Science'
statement

'Welcome to Python class that leads to Data Science'

In [69]:
statement.swapcase()

'wELCOME TO pYTHON CLASS THAT LEADS TO dATA sCIENCE'

<h3>title( )</h3>
<p>Return a titlecased version of the string: words start with uppercase characters, all remaining cased characters are lowercase. </p>

In [70]:
statement

'Welcome to Python class that leads to Data Science'

In [71]:
statement.title()

'Welcome To Python Class That Leads To Data Science'

<h3>upper( )</h3>
<p>Return a copy of the string converted to uppercase. </p>

In [72]:
statement

'Welcome to Python class that leads to Data Science'

In [73]:
statement.upper()

'WELCOME TO PYTHON CLASS THAT LEADS TO DATA SCIENCE'

<h3>zfill(width)</h3>
<p>Return the numeric string left filled with zeros in a string of length width. The original string is returned if width is less than len(s). </p>

In [74]:
"450.55".zfill(8)

'00450.55'